datamodule:
  _target_: bigearthnet.data.data_loader.DataModule
  dataset_dir: "${oc.env:HOME}/bigearthnet/bigearthnet/datasets/"
  dataset_name: "bigearthnet-mini"
  batch_size: 16
  num_workers: 0
  transforms: ${transforms.obj}

optimizer:
  name: 'adam'  # adam or sgd
  lr: 0.0001

logger:
  # _target_: pytorch_lightning.loggers.TensorBoardLogger
  _target_: aim.pytorch_lightning.AimLogger
  experiment: ${oc.select:experiment.group,default_group}
  train_metric_prefix: 'train_'
  val_metric_prefix: 'val_'


monitor:
  # Keeps track of this value (from validation set) 
  # to determine when to do model selection, patience, etc. 
  name: "loss"
  mode: "min"
  patience: 10

callbacks:
  # Checkpoints last model, best model (based on value monitored)
  # and terminates after patience epochs. 
  - _target_: pytorch_lightning.callbacks.ModelCheckpoint
    save_top_k: 1
    monitor: "step"
    mode: "max"
    filename: "last-model"
  - _target_: pytorch_lightning.callbacks.ModelCheckpoint
    save_top_k: 1
    monitor: val_${monitor.name}
    mode:  ${monitor.mode}
    filename: "best-model-{epoch:02d}-{step:02d}"
  - _target_: pytorch_lightning.callbacks.EarlyStopping
    monitor: val_${monitor.name}
    mode:  ${monitor.mode}
    patience: ${monitor.patience}

trainer:
  _target_: pytorch_lightning.Trainer
  callbacks: ${callbacks}
  logger: ${logger}
  max_epochs: 3
  profiler: "pytorch"

experiment:
  group: ???
  seed: ???

hydra:
  run:
    dir: outputs/${datamodule.dataset_name}/${oc.select:experiment.group,default_group}/${now:%Y-%m-%dT%H:%M:%S}/${model.model_name}_lr_${optimizer.lr}_${optimizer.name}/
  sweep:
    dir: outputs/${datamodule.dataset_name}/${oc.select:experiment.group,default_group}/${now:%Y-%m-%dT%H:%M:%S}/multirun/
    subdir: ${model.model_name}_lr_${optimizer.lr}_${optimizer.name}/
  job:
    chdir: true

defaults:
  - _self_
  - model: baseline.yaml
  - transforms: norm.yaml
