datamodule:
  dataset_path: "${oc.env:HOME}/bigearthnet/bigearthnet/data/bigearthnet-mini/"
  batch_size: 16
  num_workers: 0

transforms:
  - _target_: torchvision.transforms.Normalize
    mean:
      - 721.2257105159645  # B02
      - 878.5158627345414  # B03
      - 869.6805989741447  # B04
    std:
      - 1465.656553928543  # B02
      - 1359.523897551790  # B03
      - 1452.286444583796  # B04
  - _target_: torchvision.transforms.RandomHorizontalFlip
    p: 0.5
  - _target_: torchvision.transforms.RandomVerticalFlip
    p: 0.5

optimizer:
  name: 'adam'
  lr: 0.0001

logger:
  save_dir: "../../tb_logs/"
  name: "bigearth"

trainer:
  max_epochs: 5

defaults:
  - model: baseline.yaml
